.manage-specialty {
    padding: 0 15px;
    .title {
    color: #1c5e58;
    }
    .img-preview {
        height:50px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 30%;
    }
    .add-save-specialty {
        outline: none;
        background-color: orange;
        min-width: 100px;
        border: none;
        min-height: 30px;
        border-radius: 4px;
        &:hover {
            opacity: 0.9;
        }
    }
    .btn-add-specialty {
        outline: none;
        background-color: #237b6d;
        min-width: 100px;
        color: #fff;
        border: none;
        min-height: 30px;
        border-radius: 4px;
        &:hover {
            opacity: 0.9;
        }
    }
}