.img-preview-container {
    display: flex;
    flex-direction: column;
    .label-upload {
        width:  70px;
        padding: 4px;
        background-color: #ccc;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .img-preview {
        height:50px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 30%;
    }

}
.user-redux-container {
    .title {
        color:#1c5e58;
    }
    .user-redux-body {
        .add {
            background-color: #237b6d;
            border: none;
            margin-bottom: 4px;
        }
    }
}