.home-header-container {
        width: 100%;
        .home-header-content {
            border-bottom: 1px solid #ddd;
            z-index: 100;
            position:sticky;
            top: 0;
            height: 60px;
            padding: 8px 20px;
            width: 100%;
            display: flex;
            background-color: #fff;
            
            .left-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            .menu-header {
                cursor: pointer;
                padding: 10px 8px;
                i{
                    font-size: 25px;
                    cursor: pointer;
                }
            }
            @media  (min-width: 769px) {
                .menu-header {
                    display: none;
                }
            }
            .header-logo {
                background: url('../../assets/images/logo.svg')  center center no-repeat;
                height: 100%;
                width: 50%;
                cursor: pointer;
            }
            @media  (max-width: 1024px) {
                .header-logo {
                    height: 100%;
                    width: 70%;
                }
            }
            @media (max-width: 767px) {
                .header-logo {
                    height: 100%;
                    width: 80%;
                }
            }
            @media (max-width: 600px) {
                .header-logo {
                    height: 100%;
                    width: 90%;
                }
            }
        }
        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .children-content {
                cursor: pointer;
                .sub-title {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        @media (max-width: 876px) {
            .center-content {
                display:none;
            }
        }
        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            i {
                margin-right: 4px;
                color: #45c3d2;
            }
            .language {
                display: flex;
                gap: 10px;
                .language-en {
                    cursor: pointer;
                    opacity: 0.6;
                    &.active {
                        color : #f7d800;
                        text-decoration: underline;
                        opacity: 1;
                        font-weight: bold;
                    }
                }
                .language-vi {
                    cursor: pointer;
                    opacity: 0.6;
                    &.active {
                        color : #f7d800;
                        text-decoration: underline;
                        opacity: 1;
                        font-weight: bold;
                    }
                }
            }
        }
        }
        @media (max-width: 600px) {
            .home-header-content { 
                padding: 8px 20px;

                .right-content {
                    width: 38%;
                    gap: 10px;
                    .support {
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                    }
                }           
            }
        }
        @media (max-width: 400px) {
            .home-header-content { 
                padding: 8px 10px;
                .right-content {
                    width: 50%;
                    gap: 10px;
                   
                }           
            }
        }
        @media (max-width: 876px) {
            .home-header-content {
                justify-content:space-between;
            }
        }
        @media (min-width: 877px) and (max-width: 1200px) {
            .home-header-content {
                height:80px;
            }
        }
    .home-header-banner {
        background: url('../../assets/images/giadinh.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 520px;
        display: flex;
        flex-direction: column;
       
        .content-up {
            background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));
            height: 65%;
            .title-one {
                padding-top: 45px;
                text-align: center;
                font-size: 30px;
                color: #fff;
                text-shadow: 1px 1px 1px #333;
            }
            .title-two {
                text-align: center;
                font-size: 30px;
                color: #fff;
                text-shadow: 1px 1px 1px #333;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .header-search-container {
                
                .menu-search {
                    width           : 400px;
                    background-color: #fff;
                    position        : relative;
                    margin          : 0 auto;
                    top             : 8px;
                    transform: translateX(0%);
                    max-height: 200px;
                    overflow-y: scroll;
                    .menu-item {
                        padding-left: 0px;
                        li {
                            cursor: pointer;
                            list-style: none;
                            padding: 4px 0 4px 10px;
                            border-top: 1px solid #eee;
                            border-bottom: 1px solid #eee;
                        }
                        li:first-child {
                            background-color: #ccc;
                        }
                    }
                }
                @media (max-width: 420px) {
                    .menu-search {
                        width: 90%;
                    }
                }
            }
            .header-search {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                margin: 0 auto;
                padding: 14px;
                border-radius: 25px;
                background-color: #f7d800;
                i {
                    font-size: 16px;
                    margin-right: 14px;
                }
                input {
                    width: 390px;
                    outline: none;
                    border: transparent;
                    background-color: transparent;
                }
               
                @media screen and (max-width: 769px) {
                    input {
                        width: 360px;
                    }
                }
                @media screen and (max-width: 680px) {
                    input {
                        width: 340px;
                    }
                }
                @media screen and (max-width: 600px) {
                    input {
                        width: 300px;
                    }
                }
                @media screen and (max-width: 400px) {
                    input {
                        width: 200px;
                    }
                }
                
            }
        }
        .content-down {
            
            background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
            display: flex;
            height: 35%;
            justify-content: center;
            padding-top: 80px;
            gap: 66px;
            .options-list {
                width: 180px;
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                .options-des {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 4px;
                    width: 100px;
                    &:hover {
                    color: #45c3d2;
                    }
                }
                .options-icon {
                    height: 50px;
                    background-color: #fff;
                    border-radius: 50%;
                    width: 50px;
                    box-shadow: 0px 1px 2px #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                i {
                    font-size: 26px;
                    padding : 8px;
                    height: auto;
                    color: #45c3d2;
                }
            }
        }
        @media screen and (max-width: 1025px) {
            .content-down {
                gap: 30px;
            }
        }
        @media screen and (max-width: 769px) {
            .content-down {
                gap: 10px;
            }
        }
        @media screen and (max-width: 680px) {
            .content-down {
                padding-top: 10px;
                gap: 0px;
                flex-wrap: wrap;
            }
        }
    }
    @media screen and (max-width: 680px) {
        .home-header-banner {
            height: 900px;
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

